.choose-bar {
  display: inline-block;
  width: 450px;
  height: 500px;

  margin: 0;
  padding: 0;

  text-align: center;
  overflow: hidden;

  .choose-door {
    margin: 0;
    padding: 0;
    list-style: none;

    .door {
      display: inline-block;

      padding: 0;
      margin: 10px;

      &::before {
        content: "";
        display: none;
      }

      img {
        width: 100px;
      }
    }
  }
}

.preloader {
  display: inline-block;

  line-height: 20px;
  vertical-align: middle;
  
  width: 16px;
  height: 16px;

  background-image: url('/assets/images/preloader.GIF');
  background-size: contain;
}
