.choose-bar {
  display: inline-block;
  width: 450px;

  margin: 0;
  padding: 0;

  .choose-door {
    display: block;
    border: 1px solid lighten(#251616, 70);
    margin: 0;
    padding: 0;
    list-style: none;

    .door {
      display: inline-block;

      padding: 0;
      margin: 10px;

      &::before {
        content: "";
        display: none;
      }

      img {
        width: 100px;
      }
    }
  }

  .doors-color {
    margin: 10px auto;
    padding: 0;
    display: block;
    list-style: none;
    clear: both;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    img {
      height: 100px;
    }
  }
}

.preloader {
  display: inline-block;

  line-height: 20px;
  vertical-align: middle;
  
  width: 16px;
  height: 16px;

  background-image: url('/assets/images/preloader.GIF');
  background-size: contain;
}
